header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: white;
  position: absolute;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 15px 30px;
  position: fixed;
  z-index: 100;
  overflow: hidden;
}

h1 {
  /* background-color: transparent; */
  font-size: 20px;
  font-style: italic;
  color: var(--text-white);
  /* padding: 0 20px;
  border: 2px solid rgb(151, 151, 151);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 80px; */

  mix-blend-mode: difference;
}
nav {
  height: 50px;

  /* background-color: black;
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border-radius: 80px;
  border: 2px solid rgba(0, 0, 0, 0.286); */
}

.navUL {
  position: absolute;
  position: fixed;
  display: flex;
  align-items: end;

  flex-direction: column;
  justify-content: end;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 30px;
  font-weight: 900;
  color: var(--light-gray);
  background-color: rgba(0, 0, 0, 0.902);
  font-size: 4rem;

  background-position: center;
  background-repeat: repeat;
  background-size: 1%;

  overflow: hidden;

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.selectedWorks {
  position: relative;
  top: 250px;
  font-weight: 00;
  letter-spacing: -20px;
  font-size: 17rem;
  line-height: 11rem;
  text-align: left;
  font-style: italic;

  -webkit-text-stroke-color: rgba(170, 170, 170, 0.117);
}

.navUL li:hover {
  font-style: italic;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid var(--text-white);

  border-radius: 60%;
  /* font-size: 4.3rem; */
}

.navUL li {
  line-height: 3rem;
  /* border-bottom: 0.5px solid var(--faded-black); */
  z-index: 3;
  /* width: 100%; */
  text-align: right;
  font-weight: 900;
  justify-content: center;

  align-items: center;
}

/* .h1Icon img {

  opacity: 50%;
  display: inline;
  width: 2rem;

} */

.number {
  display: inline;
  font-size: 1rem;
  margin-right: 1rem;
}

.navUL img {
  width: 50%;
  position: absolute;
  right: 3%;
  rotate: 200deg;
  opacity: 5%;
}

.navUL button {
  /* margin-top: -260px; */
  width: fit-content;
  float: right;
  border: 1px solid var(--light-gray);
  margin-left: auto;
  color: var(--text-white);
}

button {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 20px;
  border: var(--border-style);
  border: 1px solid var(--light-gray);
  border-radius: 90%;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 30px;
}

button:hover {
  cursor: pointer;
  opacity: 50%;
}
