.about {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-image: url(../../assets/img/bgs/6575374.jpg);
  background-size: cover;
  background-position: left;
}

.aboutBackground {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 70px,
    rgba(0, 0, 0, 0.681) 72%
  );

  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-size: 1rem;
  font-weight: 900;
  border-radius: 80%;
}

.about h3 {
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.1px;
  z-index: 3;
  font-size: 8.5rem;
}

.about span {
  display: block;
  letter-spacing: 10px;
}

.profileIcon {
  position: absolute;
  width: 20%;
  bottom: 10%;
  left: 2%;
  opacity: 10%;
}

.profilePic {
  width: 30vw;
  height: 30vw;

  position: absolute;
  top: 22%;
  border-radius: 50%;
  z-index: 0;
}

.aboutText1 {
  font-weight: 100;
  text-align: right;
  color: white;
  width: 300px;
  font-size: 20px;
  position: absolute;
  left: 22%;
  top: 40%;
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
}

.aboutText2 {
  font-size: 16px;
  width: 300px;
  position: absolute;
  right: 22%;
  text-align: left;
  font-weight: 100;
  top: 55%;
}

@media screen and (max-width: 1100px) {
  .about h3 {
    /* font-size: 85px; */
    line-height: 55px;
    font-size: 6rem;
  }

  .aboutText1 {
    font-size: 1rem;
    left: 15%;
  }
  .aboutText2 {
    font-size: 0.9rem;
    top: 50%;
    right: 15%;
  }
  .profileIcon {
    top: 60%;
    left: 40px;
  }
}

@media screen and (max-width: 900px) {
  .profilePic {
    width: 40%;
  }

  .about h3 {
    font-size: 5rem;
  }

  .aboutText2 {
    right: 15%;
    top: 55%;
    width: 280px;
  }
  .aboutText1 {
    top: 45%;
    left: 15%;
  }

  .profileIcon {
    bottom: 3%;
    left: 5%;
  }
}

@media screen and (max-width: 800px) {
  .aboutText1 {
    left: 90px;
  }

  .aboutText2 {
    right: 90px;
  }
}

@media screen and (max-width: 800px) {
  .aboutText1 {
    left: 8%;
  }

  .aboutText2 {
    right: 8%;
  }
}

@media screen and (max-width: 680px) {
  .profilePic {
    width: 250px;
    top: 15%;
  }
  .about h3 {
    font-size: 3.5rem;
    line-height: 2.5rem;
  }

  .profilePic {
    margin-bottom: 700px;
  }

  .aboutText1,
  .aboutText2 {
    width: 80%;
    text-align: center;

    left: auto;
    right: auto;
  }

  .aboutText1 {
    font-size: 1.3rem;
    top: 38%;
  }

  .aboutText2 {
    font-size: 1rem;

    top: 64%;
  }
}

@media screen and (max-width: 430px) {
  .profilePic {
    width: 350px;
  }

  .aboutText1 {
    font-size: 1.1rem;
    top: 400px;
  }
  .aboutText2 {
    font-size: 0.9rem;
    top: 580px;
  }
}
