.about {
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-position: center;
  background-image: url(../../assets/img/bgs/6575374.jpg);
  background-size: cover;

  margin: 50px 0;
}
.sunIcon {
  height: 20px;
}

.aboutBackground {
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 70px,
    rgba(0, 0, 0, 0.681) 72%
  );

  background-size: cover;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-size: 1rem;
  font-weight: 900;
  border-radius: 80%;
}

.about h3 {
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0.1px;
  z-index: 3;
  font-size: 8.5rem;
}

.profileIcon {
  position: absolute;
  width: 20%;
  top: 70%;
  left: 3%;

  opacity: 10%;
}

.profilePic {
  width: 30vw;
  position: absolute;
  top: 17%;
  border-radius: 50%;
  z-index: 0;
}

.aboutText1 {
  font-weight: 100;
  text-align: right;
  color: white;
  width: 400px;
  font-size: 20px;
  position: absolute;
  left: 25%;
  left: 260px;
  top: 55%;
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
}

.aboutText2 {
  font-size: 16px;
  width: 350px;
  position: absolute;
  right: 25%;
  right: 260px;
  text-align: left;
  font-weight: 100;
  top: 65%;
}

.emphasis {
  text-decoration: overline;
  color: inherit;
  font-weight: 500;
  font-size: 17px;
}

@media screen and (max-width: 1300px) {
  .about h3 {
    font-size: 6rem;
  }

  .profilePic {
    width: 600px;
    position: static;
  }

  .aboutText1 {
    top: 670px;
    width: 300px;
    left: 230px;
    font-size: 1.5rem;
  }
  .aboutText2 {
    top: 790px;
    right: 200px;
    width: 350px;
    font-size: 1.5rem;
  }

  .profileIcon {
    top: 1200px;
    left: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .about h3 {
    font-size: 5rem;
  }
  .profilePic {
    margin-top: 20px;
    width: 380px;
    position: static;
  }

  .aboutText1,
  .aboutText2 {
    position: static;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.1rem;
    width: 60%;
    border: 2px solid pink;
  }
}

@media screen and (max-width: 680px) {
  #about {
    min-height: 100vh;
  }
  .about h3 {
    margin: 2rem 0;
    font-size: 3rem;
    border: 2px solid red;
  }
  .profilePic {
    width: 350px;
    position: static;
  }

  .aboutText1 {
    padding: 0;
    margin-top: 20px;
  }

  .aboutText1,
  .aboutText2 {
    position: static;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.1rem;
    width: 80%;
    z-index: 10;
  }
}

@media screen and (max-width: 430px) {
  .profilePic {
    margin-top: 20px;
    width: 300px;
    margin-bottom: 0;
    position: static;
  }

  .aboutText1 {
    padding: 0;
    margin-top: 10px;
  }

  .emphasis {
    font-size: 0.9rem;
  }

  .aboutText1,
  .aboutText2 {
    position: static;
    word-wrap: break-word;
    text-align: right;
    font-size: 0.9rem;
    width: 82%;
    z-index: 10;
  }
}
