:root {
  --primary-color: #171717;
  --secondary-color: #565656;
  --accent-color: #5cc825;
  --text-color: rgb(229, 229, 229);
  --border-style: 1px solid pink;
  width: 100vw;
  background-color: var(--primary-color);
  /* font-family: Arial, Helvetica, sans-seriSf; */
  font-family: "Red Hat Display", sans-serif;
  /* font-weight: bold;
  font-style: italic; */
}

body {
  width: 100%;
  margin: auto;
  max-width: 1600px;
  color: var(--text-color);
}

img {
  border-radius: 10px;
}

.stroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke: 1.5px;
  -webkit-text-stroke-color: white;
}

/* background-color: var(--primary-color); */
/* border: var(--border-style);  */
