:root {
  --primary-black: #0e0e0e;
  --faded-black: #171717;
  --light-gray: rgb(193, 193, 193);
  --accent-green: rgb(0, 94, 0);
  --text-white: rgb(229, 229, 229);
  --border-green: 1px solid var(--accent-green);

  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  margin: auto;
  background-color: var(--primary-black);
  font-family: "Red Hat Display", sans-serif;
}

body {
  width: 100%;
  margin: auto;
  max-width: 1600px;
  color: var(--text-white);
}

img {
  border-radius: 10px;
}

.stroke {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(227, 227, 227);

  /* color: #000000; */
  /* mix-blend-mode: difference; */
}
