.marqueeWrapper {
  background-color: var(--light-gray);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marqueeh2 {
  font-weight: 400;
  font-size: 2rem;

  color: rgb(17, 17, 17);
}
