.tech-stack {
  width: 100vw;
  min-height: 100vh;
  color: white;
  background-image: url(../../assets/img/grids/ooorganize-3.svg);
  background-repeat: repeat;
  background-size: 30%;
}

.tech-stack h3 {
  font-size: 2rem;
}

.tech-stack p {
  font-size: 1rem;
  font-weight: 100;
  padding: 5px;
  border: 1px solid rgba(45, 141, 85, 0.429);
  border-radius: 60%;
  -webkit-backdrop-filter: blur(5px);
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.logos img {
  max-height: 250px;

  width: 90px;
  filter: grayscale(100%) invert(100%) brightness(310%);
}

/* .logoCard {
  margin: 50px 170px;
  background-color: pink;
} */

@media screen and (max-width: 900px) {
  .logoCard1 {
    background-color: red;
  }
  .logoCard {
    margin: 20px 40px;
    padding: 0px 40px;
    border: 2px solid green;
  }
  .logos img {
    width: 100px;
  }
}
