.tech-stack {
  width: 100vw;
}

.logosWrapper {
  background-image: url(../../assets/img/grids/ooorganize-3.svg);
  background-repeat: repeat;
  background-size: 20%;
  background-color: var(--primary-black);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 40px 40px;
}

.logoCard1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 10px;
  /* margin: 10px 20px; */
  width: 25%;
  height: 150px;
  /* border: 1px solid red; */

  /* filter: drop-shadow(-4px 3px 3px #0000006c); */
  /* backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px; */
}

.h3Wrapper {
  min-width: 50%;
  max-width: 50%;
  border: var(--border-green);
  border-radius: 60%;
  text-align: center;
  margin-top: -50px;
  font-size: 0.8rem;
  position: relative;
}

.h3Wrapper h3 {
  font-size: 4vw;
}

.h3Wrapper p {
  font-size: 1vw;
  position: absolute;
  top: 70%;
  left: 22%;
}
.logoCard1 img {
  height: 40px;
  width: 50px;
  filter: grayscale(100%) invert(100%) brightness(300%);
}

.logoName {
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  .h3Wrapper {
    margin-top: 0;
    min-width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 2rem;
    padding: 20px 0;

    border: none;
  }
  .h3Wrapper p {
    width: 100%;
    /* border: 1px solid red; */
    top: 60px;

    left: 0;
  }
  .h3Wrapper h3 {
    border: 1px solid var(--accent-green);
    border-radius: 60%;
    padding: 0;
    width: fit-content;
  }
  .logoCard1 {
    margin: 5px 10px;
    padding: 20px;
  }

  .logosWrapper {
    background-size: 60%;
  }

  .logosWrapper h3 {
    font-size: 2.2rem;
  }
  .logosWrapper p {
    font-size: 0.8rem;
  }

  .logosWrapper {
    padding: 20px 0;
  }
}
