.works {
  width: 100vw;
  min-height: 100vh;

  padding: 20px 40px;
  color: var(--faded-black);
  background-color: var(--light-gray);
}

.worksHeader {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
}

.works h2 {
  z-index: 3;

  border: 2px solid var(--accent-green);
  width: fit-content;
  padding: 10px;
  border-radius: 60%;
  max-height: 6rem;
}

.works h4 {
  font-size: 25px;

  /* margin-bottom: 20px; */
}

.projectText {
  font-size: 20px;
  align-items: start;
}

.projectStack {
  display: flex;
  height: fit-content;
  margin-bottom: 20px;
}

.projectStack li {
  margin-right: 5px;
  background-color: var(--faded-black);
  color: var(--light-gray);
  border-radius: 20px;
  height: fit-content;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 900;
}

.projectText p {
  padding-bottom: 10px;

  font-weight: 400;
}

.worksIntro {
  padding-right: 20px;
}

.gearIconWrapper {
  text-align: left;
  margin: 40px 0;
}
.gearIcon {
  width: 8%;
  margin: auto;
  display: inline;
  margin-right: 5px;
  margin-bottom: 10px;
}

.worksHeader p {
  width: 505%;
  font-size: 20px;
  margin-top: 20px;
  text-align: left;
}

.works ul {
  /* margin: 20px auto; */
  width: 100%;
  padding: 0;
}

.works li {
  /* min-height: 70px; */
  display: flex;
  flex-direction: column;
  /* border-bottom: 1x solid var(--faded-black); */
  font-weight: 100;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

.projectTitle {
  font-size: 40px;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 0.5px solid var(--faded-black);
}

.works li p {
  margin-bottom: 0;
}

.arrowUp {
  width: 15px;
  rotate: 180deg;
  filter: invert(100%);
  display: inline;
  float: right;
}

.project {
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 20px;
  background-color: rgb(158, 158, 158);
  border-radius: 10px;
}

.project button {
  font-style: italic;
  font-size: 1rem;
  border-radius: 50px;
  border: none;
  float: right;
  margin-left: 10px;
  color: var(--faded-black);
  background-color: var(--light-gray);
}

.openArrow {
  rotate: 320deg;
}

.projectDescription {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

button > img {
  width: 20px;
  display: inline;
  margin-left: 10px;

  padding: 0;
}

.arrowUp:hover {
  cursor: pointer;
}

.projectImage {
  width: 50%;
}

@media screen and (max-width: 870px) {
  .worksHeader {
    padding: 20px 0;
  }
  .worksHeader p {
    font-size: 0.8rem;
  }

  .project .projectImage {
    margin-bottom: 20px;
  }

  .project {
    flex-wrap: wrap-reverse;
  }

  .buttons {
    display: flex;
    justify-content: right;
  }

  .buttons button {
    margin: 30px 0 10px 10px;
  }

  .projectDescription,
  .projectImage {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .projectTitle {
    font-size: 25px;
  }

  .worksHeader {
    flex-direction: column-reverse;
    padding: 10px 0;
  }

  .worksHeader h2 {
    text-align: center;
    font-size: 5rem;
    padding: 0;
    width: fit-content;
  }
  .worksHeader p {
    font-size: 0.8rem;
    width: 80%;
    text-align: center;
  }

  .star {
    margin: 0;
  }

  .starWrapper {
    text-align: right;
  }

  #works {
    padding: 10px;
  }

  @media screen and (max-width: 400px) {
    .project {
      padding: 5px;
    }
  }

  .buttons button {
    font-size: 0.6rem;
  }
}
