.homeWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;

  /* background: rgb(0, 0, 0); */

  /* background-image: url(../../assets/img/gradients/9.png); */

  /* background-image: url(../../assets/img/15.png); */
  /* background-image: url(../../assets/img/bgs/vecteezy_gray-gradient-background-design-for-flyer-banner-flyer_27851086.jpg); */
  /* background-image: url(../../assets/img/22.svg); */
  /* filter: contrast(110%); */

  background-size: cover;
  background-position: top;
  text-align: center;
}
